{
	"tabWidth": 4,
	"useTabs": true,
	"semi": true,
	"singleQuote": true,
	"bracketSpacing": true,
	"bracketSameLine": false,
	"arrowParens": "always",
	"svelteStrictMode": true,
	"svelteIndentScriptAndStyle": true
}
