:root {
    --accent-color: #00ff00;
}

.search {
    display: flex;
    height: 69px;

    input {
        margin: 0 0 2rem 0;
        color: #dddddd;
        font-size: 1rem;
        padding: 8px 8px 8px 8px;
        background-color: #121212;
        border-radius: 4px;
        border: 1px solid #323232;
        box-shadow: 0px 2px 8px #00000055;

        flex-grow: 1;

        &[type='text']:focus {
            outline-style: none;
        }

        &[type='text']::placeholder {
            color: #dddddd;
        }
    }

    button {
        margin: 0 8px 2rem 0;
        padding: 8px 32px;
        background-color: #121212;
        border: 1px solid #323232;
        border-radius: 4px;
        box-shadow: 0px 2px 8px #00000055;

        cursor: pointer;

        i {
            color: #dddddd;
            font-size: 1.2rem;
        }

        &:hover {
            text-shadow: none;
        }
    }

    select {
        appearance: none;
        margin: 0 0 2rem 8px;
        padding: 3px 30px 3px 5px;
        color: #dddddd;
        border: 1px solid #323232;
        border-radius: 4px;
        box-shadow: 0px 2px 8px #00000055;
        background-color: #121212;
    }

    select:hover, button:hover, input:hover {
        background-color: #181818;
    }
}

.noresults {
    display: flex;
    text-align: center;
    height: auto;
    justify-content: center;
    font-weight: 100;
    color: #cccccc;
}

.game {
    display: block;

    border-style: solid;
    border-width: 1px;
    border-color: #323232;
    background-color: #0b0e10;
    margin: 10px 1px 0px 2px;
    padding: 5px 5px 20px 8px;
    border-radius: 4px;

    line-height: 10px;

    p {
        margin-left: 6px;
        margin-top: 8px;
        font-size: 19px;
        font-weight: 700;
        line-height: 1.4rem;
    }

    a {
        text-decoration: none;

        border-style: solid;
        background-color: inherit;

        color: #dddddd;
        margin: 0 5px;
        margin-bottom: 100px;
        padding: 4px 10px 4px 10px;
        border-radius: 4px;
        border-color: #323232;
        border-width: 1px;
    }
}

.main {
    margin-left: 179px;
}
