// TODO: redesign

:root {
	--accent-color: #00ff00;
}

.search {
	display: flex;
}

.search > input {
	font-size: 1rem;
	color: white;
	background-color: #040404;
	border-color: var(--accent-color);
	border-style: solid;
	border-width: 1px;
	padding: 8px 8px 8px 8px;

	flex-grow: 1;
}

.search > input[type='text']:focus {
	outline-style: none;
}

.search > button {
	margin-left: 10px;
	padding: 8px 16px 8px 16px;
	background-color: #040404;
	border-color: var(--accent-color);
	border-style: solid;
	border-width: 1px;

	cursor: pointer;
}

.search > select {
	margin-left: 8px;
	background-color: #040404;
	color: #ffffff;
	border-style: solid;
	border-width: 1px;
	border-color: var(--accent-color);
}

.search > button > i {
	color: white;
	font-size: 16px;
}

.game {
	display: block;

	border-style: solid;
	border-color: #00ff00;
	border-width: 1px;
	background-color: #040404;
	margin: 10px 1px 0px 2px;
	padding: 5px 5px 20px 5px;

	line-height: 10px;
}

.game p {
	padding-bottom: 5px;
	margin-left: 6px;
	font-size: 19px;

	font-weight: 700;
}

.game a {
	text-decoration: none;

	border-style: solid;
	border-color: rgb(0, 174, 255);
	background-color: #040404;

	color: white;
	margin-bottom: 100px;
	border-width: 1.5px;
	margin-left: 5px;
	padding: 4px 10px 4px 10px;
}

.main {
	padding-left: 5px;
}
