:root {
	--accent-color: #00ff00;
}

* {
	transition: all 0.25s;
}

.top {
	display: flex;
	justify-content: space-between;

	.search-bar {
		width: 40%;
		color: #fff;
		font-size: 1rem;
		margin: 16px 16px 16px 0;
		padding: 8px;
		background-color: var(--item-bg-color);
		border-style: solid;
		backdrop-filter: blur(2px);
		-webkit-backdrop-filter: blur(2px);
		border-width: 1px;
		border-radius: 15px;
		border-color: #fff;

		&[type='text']:focus {
			outline-style: none;
		}

		&[type='text']::placeholder {
			color: darken(#fff, 20%);
		}
	}

	button {
		background-color: var(--item-bg-color);
		border-color: var(--accent-color);
		border-style: solid;
		backdrop-filter: blur(2px);
		-webkit-backdrop-filter: blur(2px);
		border-width: 1px;
		border-radius: 100px;
		border-color: #fff;

		padding: 0 12px;
		margin-bottom: 1rem;
		margin-top: 1rem;
		color: #fff;
		font-size: 16px;
		cursor: pointer;
		transition: all 0.25s;
	}
}

.game-panel {
	transition: all 0.25s;
	display: inline-block;
	padding: 8px 8px 8px 8px;
	margin: 8px 0px 8px 0px;

	.game-text {
		display: flex;
		flex-direction: column;
		padding-top: 8px;
		padding-left: 10px;
		width: 203px;

		button {
			padding: 0;
			margin: 0;
			background-color: inherit;
			border: none;

			&:hover {
				text-shadow: none;
			}

			img {
				transition: all 0.25s;
				align-self: center;
				margin-bottom: 1rem;
				box-shadow: 0px 10px 24px 7px rgba(0, 0, 0, 0.393);
			}

			p {
				color: var(--text-color);
				margin: 0;
				font-weight: 400;
				font-size: 20px;
				font-family: 'Montserrat';
				word-wrap: break-word;
				text-align: center;
			}
		}

		.game-info {
			padding-left: 5px;

			.game-desc {
				padding-left: 8px;
				padding-top: 10px;
			}

			.small-info {
				padding: 2px 0px 0px 8px;
				font-size: 16px;
				color: #cccccc;
			}
		}
	}

	.gm-flex {
		display: flex;

		.game-modal {
			background-color: var(--game-modal-bg);
			backdrop-filter: blur(100px);
			-webkit-backdrop-filter: blur(var(--game-modal-blur-size));
			margin: 0;
			margin-left: auto;
			height: 100%;
			border-color: var(--white-ph-color);
			border-width: 1px;

			&::backdrop {
				background-color: inherit;
			}

			&[open] {
				color: var(--text-color);
				display: flex;
				flex-direction: column;
				width: 300px;
			}

			#game-name {
				font-size: 1.5rem;
				font-weight: 800;
				text-align: center;
			}

			#game-desc {
				flex-grow: 2;
				margin-left: 0.5rem;
				margin-right: 0.5rem;
				font-size: 0.9rem;
				line-height: 17px;
			}

			#execute {
				margin-left: 3rem;
				margin-right: 3rem;
				margin-top: 1.5rem;
				font-size: 1.3rem;
				font-family: 'JetBrains Mono', monospace;
				font-weight: 900;
				border-style: solid;
				border-color: var(--game-modal-run);
				border-radius: var(--border-radius);
				background-color: var(--game-modal-run);
				color: var(--black-text);
			}

			.buttons {
				flex-direction: row;

				.game-button-delete,
				.game-button-run {
					border: none;
					background-color: inherit;
					font-size: 2rem;
					cursor: pointer;
				}

				.game-button-delete {
					float: right;
					color: var(--delete-game-color);
				}

				.game-button-run {
					color: var(--edit-game-color);
				}
			}
		}
	}
}

.main {
	padding-left: 5px;
}
