:root {
	--accent-color: #00ff00;
}

.buttons {
	padding: 15px 0px 8px 8px;
}

.game-button-run {
	background-color: #040404;
	border-style: dashed;
	border-width: 1px;
	border-color: var(--accent-color);
	color: var(--accent-color);
	padding: 4px 16px 4px 16px;
	margin-right: 8px;
	cursor: pointer;
}

.game-button-delete {
	background-color: #040404;
	border-style: dashed;
	border-width: 1px;
	border-color: #ff0000;
	color: #ff0000;
	padding: 4px 16px 4px 16px;
	margin-right: 8px;
	cursor: pointer;
}

.game-text {
	display: flex;
	padding-top: 8px;
	padding-left: 10px;
}

.game-info {
	padding-left: 5px;
}

.game-desc {
	padding-left: 8px;
	padding-top: 5px;
}

.game-panel {
	padding: 8px 8px 8px 8px;
	margin: 8px 0px 8px 0px;
	border-style: dashed;
	border-width: 1px;
	border-color: var(--accent-color);
}

.game-panel {
	background-color: #040404;
}

.game-panel p {
	margin: 0;
}

.game-title {
	padding: 0px 8px 0px 8px;
	font-weight: 550;
	font-size: 24px;
}

.small-info {
	padding: 2px 0px 0px 8px;
	font-size: 16px;
	color: #cccccc;
}

.top {
	display: flex;
	justify-content: space-between;
}

.top > button {
	background-color: #040404;
	border-color: var(--accent-color);
	border-style: dashed;
	border-width: 1px;
	padding: 4px 16px 4px 16px;
	margin-bottom: 1.2rem;
	margin-top: 1.2rem;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
	transition: all 0.25s;
}

.top > button:hover {
	text-shadow: 0px 0px 12px #ffffff;
}

.main {
	padding-left: 5px;
}
