:root {
    --accent-color: #00ff00;
}

.error {
    color: red;
    margin-bottom: 8px;
    margin-top: 0;
}

.modal-main {
    dialog[open].fetch-meta {
        display: flex;
        flex-direction: column;

        padding: 15px;
        max-width: 350px;

        border: 1px solid var(--modal-border-color);
        border-radius: var(--radius-normal);

        background-color: var(--modal-background-color);

        span {
            color: var(--font-color);
            font-family: 'Montserrat';
            font-weight: var(--modal-fetch-font-weight);

            &::after {
                content: ':';
            }
        }

        button {
            text-align: center;
            transition: all 0.25s;
            font-family: 'Montserrat';
            background-color: var(--modal-fetch-background-color);
            color: var(--font-color);
            border: 1px solid var(--modal-fetch-background-color);
            border-radius: var(--radius-normal);
            padding: 10px;

            &:hover {
                cursor: pointer;
                border-color: var(--modal-fetch-background-color);
                background-color: var(--modal-fetch-hover-color);
            }
        }
    }

    .newgame {
        display: flex;
        flex-grow: 1;
        flex-direction: column;

        button.fetch-meta {
            transition: all 0.25s;

            color: var(--font-color);
            background-color: var(--modal-background-color);
            border-color: var(--modal-border-color);
            border-style: solid;
            border-width: 1px;
            border-radius: var(--radius-normal);
            margin: 15px 0;

            font-size: 15px;

            &:hover {
                cursor: pointer;
                background-color: #161616;
            }
        }

        .ng-button {
            margin-top: 15px;
            padding: 8px 8px 8px 8px;
        }

        input,
        textarea {
            color: var(--font-color);
            background-color: var(--modal-background-color);
            border-color: var(--modal-element-border-color);
            border-style: solid;
            border-width: 1px;
            border-radius: var(--radius-normal);
            padding: 8px 8px 8px 8px;

            outline-style: none;
            font-family: 'Montserrat';
            font-size: 15px;

            &::placeholder {
                color: var(--modal-placeholder-color);
                font-size: 15px;
            }
        }

        .show-path {
            color: var(--font-color);
            display: flex;
            flex-direction: row;

            .ng-button {
                transition: all 0.25s;

                color: var(--font-color);
                background-color: var(--modal-background-color);
                border-color: var(--modal-border-color);
                border-style: solid;
                border-width: 1px;
                border-radius: var(--radius-normal);
                //margin-bottom: 16px;
                //margin-top: 16px;
                margin: 0 0 10px;
                margin-right: 10px;

                font-size: 15px;

                &:hover {
                    cursor: pointer;
                    background-color: #161616;
                }
            }

            .image-add {
                height: 38px;
            }

            img {
                border-style: solid;
                border-width: 1px;
                border-radius: var(--radius-normal);
                padding: 5px;
                background-color: var(--modal-img-background-color);
                border-color: var(--modal-img-border-color);
                margin-bottom: 8px;
            }
        }
    }

    .done-btn {
        display: flex;
        flex-flow: row-reverse;

        button {
            background-color: var(--modal-background-color);
            border: 1px solid var(--modal-element-border-color);
            border-radius: var(--radius-normal);
            font-size: 1rem;
            color: var(--font-color);
            padding: 8px 16px;

            &:hover {
                cursor: pointer;
                background-color: #161616;
            }
        }
    }
}

.toast {
    button {
        background-color: #121212; //var(--library-element-background);
        border-color: #323232; // var(--library-border-color);
        border-style: solid;
        border-width: 1px;
        border-radius: 4px; // var(--radius-normal);
        box-shadow: 0px 2px 8px #00000055;

        padding: 5px 15px;
        margin-bottom: 10px;

        transform: translateX(50%);

        color: var(--font-color);
        font-size: 16px;
        cursor: pointer;
        transition: all 0.25s;
    }

    p {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 5px;
    }
}

.title-el {
    margin: 0px 0 10px 0;
}

.main {
    padding-left: 5px;
}
