:root {
	--accent-color: #00ff00;
}

.error {
	color: red;
	margin-bottom: 8px;
	margin-top: 0;
}

.modal-main {
	.newgame {
		display: flex;
		flex-grow: 1;
		flex-direction: column;

		.ng-button {
			margin-top: 15px;
			padding: 8px 8px 8px 8px;
		}

		input,
		textarea {
			color: var(--text-color);
			background-color: var(--bg-darker);
			border-color: var(--bg-darker);
			border-style: solid;
			border-width: 1px;
			border-radius: 10px;
			padding: 8px 8px 8px 8px;

			outline-style: none;

			font-size: 15px;
			margin-bottom: 8px;
			margin-top: 8px;

			&::placeholder {
				color: var(--white-ph-color);
				font-size: 15px;
			}
		}

		.show-path {
			display: flex;
			flex-direction: row;

			.ng-button {
				transition: all 0.25s;

				color: var(--white-ph-color);
				background-color: var(--bg-darker);
				border-color: var(--bg-darker);
				border-style: solid;
				border-width: 1px;
				border-radius: 10px;
				//margin-bottom: 16px;
				//margin-top: 16px;
				margin: 15px 0;
				margin-right: 10px;

				font-size: 15px;

				&:hover {
					cursor: pointer;
				}
			}

			.image-add {
				height: 38px;
			}

			img {
				border-style: solid;
				border-width: 1px;
				border-radius: 10px;
				padding: 5px;
				background-color: var(--bg-darker);
				border-color: var(--bg-darker);
			}
		}
	}

	.done-btn {
		display: flex;
		flex-flow: row-reverse;

		button {
			background-color: var(--bg-darker);
			border: 1px solid var(--bg-darker);
			border-radius: 10px;
			font-size: 1rem;
			color: var(--white-ph-color);
		}
	}
}

.main {
	padding-left: 5px;
}
