:root {
	--accent-color: #00ff00;
}

.button-group {
	border-style: solid;
	border-width: 1px;
	border-color: var(--accent-color);
	text-align: center;
}

.button-group > button {
	font-size: 13px;
	margin-top: 8px;
	margin-bottom: 8px;
	margin-right: 0px;
	padding: 8px;
	background-color: transparent;
	color: white;
	border-style: solid;
	border-width: 1px;
}

.button-group #wipe {
	border-color: #ff0000;
}

.button-group #install {
	border-color: var(--accent-color);
}

.locale-settings {
	font-size: 13px;
	margin-left: 2px;
	display: inline;
	padding: 7px;
}

.locale-settings > select {
	background-color: black;
	color: white;
	padding: 6px;
	border-color: #00ff00;
	border-style: solid;
	border-width: 1px;
}

.save-button {
	font-size: 13px;
	background-color: inherit;
	border-color: #00ff00;
	border-style: solid;
	border-width: 1px;
	color: white;
	padding: 7px;
	margin-top: 25px;
}

.main {
	padding-left: 5px;
}
