:root {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  color: hsl(280, 0%, 100%);
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: hsl(0, 0%, 4%);
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav .menu_button {
  padding: 6px 8px 6px 16px;
  margin-bottom: 8px;
  text-decoration: none;
  font-size: 20px;
  color: hsl(0, 0%, 100%);
  display: block;
  transition: all 0.25s;
  background-color: transparent;
  border-style: none;
}

.sidenav .menu_button:hover {
  text-shadow: 0px 0px 10px hsla(0, 0%, 100%, 0.5);
  cursor: pointer;
}

.main {
  margin-left: 160px;
  padding: 0px 10px;
  font-size: 16px;
}

.main h1 {
  text-align: center;
}